*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
#headImg{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top: 30vh;
    left: 50vw;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    /*display: none;*/
}
#airplane{
    z-index: 99;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30vh;
    left: 50vw;
}
#first{
    width: 100vw;
    height: 100vh;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 100% 100%;
}
#headImgBox{
    height: 0;
    width: 0;
    top: 50vh;
    left: 50vw;
    z-index: 50;
}
#information{
    text-align: center;
    top: 50vh;
}
#information h1,h5{
    color: white;
    padding: 10px;
}
#second{
    width: 100vw;
    height: 100vh;
}